body {
    background: rgb(110, 110, 187);
    font: normal 12pt Arial;
   
}

header {
    color: wheat;
    text-align: center;

}

section {
    background: white;
    border: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(75, 68, 68);

}
div {

    padding: 8px;
}

select#flista {
    width: 150px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;

}